In [25]:
import numpy as np
import pandas as pd
import requests as rq
import os
import csv
import matplotlib.pyplot as plt
% matplotlib inline
import zipfile as zip

UsageError: Line magic function `%` not found.

In [16]:
df_twt = pd.read_csv('twitter-archive-enhanced.csv')
df_twt.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [66]:
df_twt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [44]:
folder_name = 'download'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
file_name = 'image-predictions.tsv'
response = rq.get(url)

with open(os.path.join(folder_name, file_name), mode='wb') as file:
         file.write(response.content)

In [45]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
file_name = 'image-predictions.tsv'
response = rq.get(url)

with open(file_name, mode='wb') as file:
         file.write(response.content)

In [47]:
df_img = pd.read_csv('image-predictions.tsv', sep='\t')
df_img.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [50]:
list_tweet_id = df_twt['tweet_id'].tolist()
list_tweet_id

[892420643555336193,
 892177421306343426,
 891815181378084864,
 891689557279858688,
 891327558926688256,
 891087950875897856,
 890971913173991426,
 890729181411237888,
 890609185150312448,
 890240255349198849,
 890006608113172480,
 889880896479866881,
 889665388333682689,
 889638837579907072,
 889531135344209921,
 889278841981685760,
 888917238123831296,
 888804989199671297,
 888554962724278272,
 888202515573088257,
 888078434458587136,
 887705289381826560,
 887517139158093824,
 887473957103951883,
 887343217045368832,
 887101392804085760,
 886983233522544640,
 886736880519319552,
 886680336477933568,
 886366144734445568,
 886267009285017600,
 886258384151887873,
 886054160059072513,
 885984800019947520,
 885528943205470208,
 885518971528720385,
 885311592912609280,
 885167619883638784,
 884925521741709313,
 884876753390489601,
 884562892145688576,
 884441805382717440,
 884247878851493888,
 884162670584377345,
 883838122936631299,
 883482846933004288,
 883360690899218434,
 883117836046086144,
 882992080364220416,
 882762694511734784,
 882627270321602560,
 882268110199369728,
 882045870035918850,
 881906580714921986,
 881666595344535552,
 881633300179243008,
 881536004380872706,
 881268444196462592,
 880935762899988482,
 880872448815771648,
 880465832366813184,
 880221127280381952,
 880095782870896641,
 879862464715927552,
 879674319642796034,
 879492040517615616,
 879415818425184262,
 879376492567855104,
 879130579576475649,
 879050749262655488,
 879008229531029506,
 878776093423087618,
 878604707211726852,
 878404777348136964,
 878316110768087041,
 878281511006478336,
 878057613040115712,
 877736472329191424,
 877611172832227328,
 877556246731214848,
 877316821321428993,
 877201837425926144,
 876838120628539392,
 876537666061221889,
 876484053909872640,
 876120275196170240,
 875747767867523072,
 875144289856114688,
 875097192612077568,
 875021211251597312,
 874680097055178752,
 874434818259525634,
 874296783580663808,
 874057562936811520,
 874012996292530176,
 873697596434513921,
 873580283840344065,
 873337748698140672,
 873213775632977920,
 872967104147763200,
 872820683541237760,
 872668790621863937,
 872620804844003328,
 872486979161796608,
 872261713294495745,
 872122724285648897,
 871879754684805121,
 871762521631449091,
 871515927908634625,
 871166179821445120,
 871102520638267392,
 871032628920680449,
 870804317367881728,
 870726314365509632,
 870656317836468226,
 870374049280663552,
 870308999962521604,
 870063196459192321,
 869988702071779329,
 869772420881756160,
 869702957897576449,
 869596645499047938,
 869227993411051520,
 868880397819494401,
 868639477480148993,
 868622495443632128,
 868552278524837888,
 867900495410671616,
 867774946302451713,
 867421006826221569,
 867072653475098625,
 867051520902168576,
 866816280283807744,
 866720684873056260,
 866686824827068416,
 866450705531457537,
 866334964761202691,
 866094527597207552,
 865718153858494464,
 865359393868664832,
 865006731092295680,
 864873206498414592,
 864279568663928832,
 864197398364647424,
 863907417377173506,
 863553081350529029,
 863471782782697472,
 863432100342583297,
 863427515083354112,
 863079547188785154,
 863062471531167744,
 862831371563274240,
 862722525377298433,
 862457590147678208,
 862096992088072192,
 861769973181624320,
 861383897657036800,
 861288531465048066,
 861005113778896900,
 860981674716409858,
 860924035999428608,
 860563773140209665,
 860524505164394496,
 860276583193509888,
 860184849394610176,
 860177593139703809,
 859924526012018688,
 859851578198683649,
 859607811541651456,
 859196978902773760,
 859074603037188101,
 858860390427611136,
 858843525470990336,
 858471635011153920,
 858107933456039936,
 857989990357356544,
 857746408056729600,
 857393404942143489,
 857263160327368704,
 857214891891077121,
 857062103051644929,
 857029823797047296,
 856602993587888130,
 856543823941562368,
 856526610513747968,
 856330835276025856,
 856288084350160898,
 856282028240666624,
 855862651834028034,
 855860136149123072,
 855857698524602368,
 855851453814013952,
 855818117272018944,
 855459453768019968,
 855245323840757760,
 855138241867124737,
 854732716440526848,
 854482394044301312,
 854365224396361728,
 854120357044912130,
 854010172552949760,
 853760880890318849,
 853639147608842240,
 853299958564483072,
 852936405516943360,
 852912242202992640,
 852672615818899456,
 852553447878664193,
 852311364735569921,
 852226086759018497,
 852189679701164033,
 851953902622658560,
 851861385021730816,
 851591660324737024,
 851464819735769094,
 851224888060895234,
 850753642995093505,
 850380195714523136,
 850333567704068097,
 850145622816686080,
 850019790995546112,
 849776966551130114,
 849668094696017920,
 849412302885593088,
 849336543269576704,
 849051919805034497,
 848690551926992896,
 848324959059550208,
 848213670039564288,
 848212111729840128,
 847978865427394560,
 847971574464610304,
 847962785489326080,
 847842811428974592,
 847617282490613760,
 847606175596138505,
 847251039262605312,
 847157206088847362,
 847116187444137987,
 846874817362120707,
 846514051647705089,
 846505985330044928,
 846153765933735936,
 846139713627017216,
 846042936437604353,
 845812042753855489,
 845677943972139009,
 845459076796616705,
 845397057150107648,
 845306882940190720,
 845098359547420673,
 844979544864018432,
 844973813909606400,
 844704788403113984,
 844580511645339650,
 844223788422217728,
 843981021012017153,
 843856843873095681,
 843604394117681152,
 843235543001513987,
 842892208864923648,
 842846295480000512,
 842765311967449089,
 842535590457499648,
 842163532590374912,
 842115215311396866,
 841833993020538882,
 841680585030541313,
 841439858740625411,
 841320156043304961,
 841314665196081154,
 841077006473256960,
 840761248237133825,
 840728873075638272,
 840698636975636481,
 840696689258311684,
 840632337062862849,
 840370681858686976,
 840268004936019968,
 839990271299457024,
 839549326359670784,
 839290600511926273,
 839239871831150596,
 838952994649550848,
 838921590096166913,
 838916489579200512,
 838831947270979586,
 838561493054533637,
 838476387338051585,
 838201503651401729,
 838150277551247360,
 838085839343206401,
 838083903487373313,
 837820167694528512,
 837482249356513284,
 837471256429613056,
 837366284874571778,
 837110210464448512,
 837012587749474308,
 836989968035819520,
 836753516572119041,
 836677758902222849,
 836648853927522308,
 836397794269200385,
 836380477523124226,
 836260088725786625,
 836001077879255040,
 835685285446955009,
 835574547218894849,
 835536468978302976,
 835309094223372289,
 835297930240217089,
 835264098648616962,
 835246439529840640,
 835172783151792128,
 835152434251116546,
 834931633769889797,
 834786237630337024,
 834574053763584002,
 834477809192075265,
 834458053273591808,
 834209720923721728,
 834167344700198914,
 834089966724603904,
 834086379323871233,
 833863086058651648,
 833826103416520705,
 833732339549220864,
 833722901757046785,
 833479644947025920,
 833124694597443584,
 832998151111966721,
 832769181346996225,
 832757312314028032,
 832682457690300417,
 832645525019123713,
 832636094638288896,
 832397543355072512,
 832369877331693569,
 832273440279240704,
 832215909146226688,
 832215726631055365,
 832088576586297345,
 832040443403784192,
 832032802820481025,
 831939777352105988,
 831926988323639298,
 831911600680497154,
 831670449226514432,
 831650051525054464,
 831552930092285952,
 831322785565769729,
 831315979191906304,
 831309418084069378,
 831262627380748289,
 830956169170665475,
 830583320585068544,
 830173239259324417,
 830097400375152640,
 829878982036299777,
 829861396166877184,
 829501995190984704,
 829449946868879360,
 829374341691346946,
 829141528400556032,
 829011960981237760,
 828801551087042563,
 828770345708580865,
 828708714936930305,
 828650029636317184,
 828409743546925057,
 828408677031882754,
 828381636999917570,
 828376505180889089,
 828372645993398273,
 828361771580813312,
 828046555563323392,
 828011680017821696,
 827933404142436356,
 827653905312006145,
 827600520311402496,
 827324948884643840,
 827228250799742977,
 827199976799354881,
 826958653328592898,
 826848821049180160,
 826615380357632002,
 826598799820865537,
 826598365270007810,
 826476773533745153,
 826240494070030336,
 826204788643753985,
 826115272272650244,
 825876512159186944,
 825829644528148480,
 825535076884762624,
 825147591692263424,
 825120256414846976,
 825026590719483904,
 824796380199809024,
 824775126675836928,
 824663926340194305,
 824325613288833024,
 824297048279236611,
 824025158776213504,
 823939628516474880,
 823719002937630720,
 823699002998870016,
 823581115634085888,
 823333489516937216,
 823322678127919110,
 823269594223824897,
 822975315408461824,
 822872901745569793,
 822859134160621569,
 822647212903690241,
 822610361945911296,
 822489057087389700,
 822462944365645825,
 822244816520155136,
 822163064745328640,
 821886076407029760,
 821813639212650496,
 821765923262631936,
 821522889702862852,
 821421320206483457,
 821407182352777218,
 821153421864615936,
 821149554670182400,
 821107785811234820,
 821044531881721856,
 820837357901512704,
 820749716845686786,
 820690176645140481,
 820494788566847489,
 820446719150292993,
 820314633777061888,
 820078625395449857,
 820013781606658049,
 819952236453363712,
 819924195358416896,
 819711362133872643,
 819588359383371776,
 819347104292290561,
 819238181065359361,
 819227688460238848,
 819015337530290176,
 819015331746349057,
 819006400881917954,
 819004803107983360,
 818646164899774465,
 818627210458333184,
 818614493328580609,
 818588835076603904,
 818536468981415936,
 818307523543449600,
 818259473185828864,
 818145370475810820,
 817908911860748288,
 817827839487737858,
 817777686764523521,
 817536400337801217,
 817502432452313088,
 817423860136083457,
 817415592588222464,
 817181837579653120,
 817171292965273600,
 817120970343411712,
 817056546584727552,
 816829038950027264,
 816816676327063552,
 816697700272001025,
 816450570814898180,
 816336735214911488,
 816091915477250048,
 816062466425819140,
 816014286006976512,
 815990720817401858,
 815966073409433600,
 815745968457060357,
 815736392542261248,
 815639385530101762,
 815390420867969024,
 814986499976527872,
 814638523311648768,
 814578408554463233,
 814530161257443328,
 814153002265309185,
 813944609378369540,
 813910438903693312,
 813812741911748608,
 813800681631023104,
 813217897535406080,
 813202720496779264,
 813187593374461952,
 813172488309972993,
 813157409116065792,
 813142292504645637,
 813130366689148928,
 813127251579564032,
 813112105746448384,
 813096984823349248,
 813081950185472002,
 813066809284972545,
 813051746834595840,
 812781120811126785,
 812747805718642688,
 812709060537683968,
 812503143955202048,
 812466873996607488,
 812372279581671427,
 811985624773361665,
 811744202451197953,
 811647686436880384,
 811627233043480576,
 811386762094317568,
 810984652412424192,
 810896069567610880,
 810657578271330305,
 810284430598270976,
 810254108431155201,
 809920764300447744,
 809808892968534016,
 809448704142938112,
 809220051211603969,
 809084759137812480,
 808838249661788160,
 808733504066486276,
 808501579447930884,
 808344865868283904,
 808134635716833280,
 808106460588765185,
 808001312164028416,
 807621403335917568,
 807106840509214720,
 807059379405148160,
 807010152071229440,
 806629075125202948,
 806620845233815552,
 806576416489959424,
 806542213899489280,
 806242860592926720,
 806219024703037440,
 805958939288408065,
 805932879469572096,
 805826884734976000,
 805823200554876929,
 805520635690676224,
 805487436403003392,
 805207613751304193,
 804738756058218496,
 804475857670639616,
 804413760345620481,
 804026241225523202,
 803773340896923648,
 803692223237865472,
 803638050916102144,
 803380650405482500,
 803321560782307329,
 803276597545603072,
 802952499103731712,
 802624713319034886,
 802600418706604034,
 802572683846291456,
 802323869084381190,
 802265048156610565,
 802247111496568832,
 802239329049477120,
 802185808107208704,
 801958328846974976,
 801854953262350336,
 801538201127157760,
 801285448605831168,
 801167903437357056,
 801127390143516673,
 801115127852503040,
 800859414831898624,
 800855607700029440,
 800751577355128832,
 800513324630806528,
 800459316964663297,
 800443802682937345,
 800388270626521089,
 800188575492947969,
 800141422401830912,
 800018252395122689,
 799774291445383169,
 799757965289017345,
 799422933579902976,
 799308762079035393,
 799297110730567681,
 799063482566066176,
 798933969379225600,
 798925684722855936,
 798705661114773508,
 798701998996647937,
 798697898615730177,
 798694562394996736,
 798686750113755136,
 798682547630837760,
 798673117451325440,
 798665375516884993,
 798644042770751489,
 798628517273620480,
 798585098161549313,
 798576900688019456,
 798340744599797760,
 798209839306514432,
 797971864723324932,
 797545162159308800,
 797236660651966464,
 797165961484890113,
 796904159865868288,
 796865951799083009,
 796759840936919040,
 796563435802726400,
 796484825502875648,
 796387464403357696,
 796177847564038144,
 796149749086875649,
 796125600683540480,
 796116448414461957,
 796080075804475393,
 796031486298386433,
 795464331001561088,
 795400264262053889,
 795076730285391872,
 794983741416415232,
 794926597468000259,
 794355576146903043,
 794332329137291264,
 794205286408003585,
 793962221541933056,
 793845145112371200,
 793614319594401792,
 793601777308463104,
 793500921481273345,
 793286476301799424,
 793271401113350145,
 793256262322548741,
 793241302385262592,
 793226087023144960,
 793210959003287553,
 793195938047070209,
 793180763617361921,
 793165685325201412,
 793150605191548928,
 793135492858580992,
 793120401413079041,
 792913359805018113,
 792883833364439040,
 792773781206999040,
 792394556390137856,
 792050063153438720,
 791821351946420224,
 791784077045166082,
 791780927877898241,
 791774931465953280,
 791672322847637504,
 791406955684368384,
 791312159183634433,
 791026214425268224,
 790987426131050500,
 790946055508652032,
 790723298204217344,
 790698755171364864,
 790581949425475584,
 790337589677002753,
 790277117346975746,
 790227638568808452,
 789986466051088384,
 789960241177853952,
 789903600034189313,
 789628658055020548,
 789599242079838210,
 789530877013393408,
 789314372632018944,
 789280767834746880,
 789268448748703744,
 789137962068021249,
 788908386943430656,
 788765914992902144,
 788552643979468800,
 788412144018661376,
 788178268662984705,
 788150585577050112,
 788070120937619456,
 788039637453406209,
 787810552592695296,
 787717603741622272,
 787397959788929025,
 787322443945877504,
 787111942498508800,
 786963064373534720,
 786729988674449408,
 786709082849828864,
 786664955043049472,
 786595970293370880,
 786363235746385920,
 786286427768250368,
 786233965241827333,
 786051337297522688,
 786036967502913536,
 785927819176054784,
 785872687017132033,
 785639753186217984,
 785533386513321988,
 785515384317313025,
 785264754247995392,
 785170936622350336,
 784826020293709826,
 784517518371221505,
 784431430411685888,
 784183165795655680,
 784057939640352768,
 783839966405230592,
 783821107061198850,
 783695101801398276,
 783466772167098368,
 783391753726550016,
 783347506784731136,
 783334639985389568,
 783085703974514689,
 782969140009107456,
 782747134529531904,
 782722598790725632,
 782598640137187329,
 782305867769217024,
 782021823840026624,
 781955203444699136,
 781661882474196992,
 781655249211752448,
 781524693396357120,
 781308096455073793,
 781251288990355457,
 781163403222056960,
 780931614150983680,
 780858289093574656,
 780800785462489090,
 780601303617732608,
 780543529827336192,
 780496263422808064,
 780476555013349377,
 780459368902959104,
 780192070812196864,
 780092040432480260,
 780074436359819264,
 779834332596887552,
 779377524342161408,
 779124354206535695,
 779123168116150273,
 779056095788752897,
 778990705243029504,
 778774459159379968,
 778764940568104960,
 778748913645780993,
 778650543019483137,
 778624900596654080,
 778408200802557953,
 778396591732486144,
 778383385161035776,
 778286810187399168,
 778039087836069888,
 778027034220126208,
 777953400541634568,
 777885040357281792,
 777684233540206592,
 777641927919427584,
 777621514455814149,
 777189768882946048,
 776819012571455488,
 776813020089548800,
 776477788987613185,
 776249906839351296,
 776218204058357768,
 776201521193218049,
 776113305656188928,
 776088319444877312,
 775898661951791106,
 775842724423557120,
 775733305207554048,
 775729183532220416,
 775364825476165632,
 775350846108426240,
 775096608509886464,
 775085132600442880,
 774757898236878852,
 774639387460112384,
 774314403806253056,
 773985732834758656,
 773922284943896577,
 773704687002451968,
 773670353721753600,
 773547596996571136,
 773336787167145985,
 773308824254029826,
 773247561583001600,
 773191612633579521,
 772877495989305348,
 772826264096874500,
 772615324260794368,
 772581559778025472,
 772193107915964416,
 772152991789019136,
 772117678702071809,
 772114945936949249,
 772102971039580160,
 771908950375665664,
 771770456517009408,
 771500966810099713,
 771380798096281600,
 771171053431250945,
 771136648247640064,
 771102124360998913,
 771014301343748096,
 771004394259247104,
 770787852854652928,
 770772759874076672,
 770743923962707968,
 770655142660169732,
 770414278348247044,
 770293558247038976,
 770093767776997377,
 770069151037685760,
 769940425801170949,
 769695466921623552,
 769335591808995329,
 769212283578875904,
 768970937022709760,
 768909767477751808,
 768855141948723200,
 768609597686943744,
 768596291618299904,
 768554158521745409,
 768473857036525572,
 768193404517830656,
 767884188863397888,
 767754930266464257,
 767500508068192258,
 767191397493538821,
 767122157629476866,
 766864461642756096,
 766793450729734144,
 766714921925144576,
 766693177336135680,
 766423258543644672,
 766313316352462849,
 766078092750233600,
 766069199026450432,
 766008592277377025,
 765719909049503744,
 765669560888528897,
 765395769549590528,
 765371061932261376,
 765222098633691136,
 764857477905154048,
 764259802650378240,
 763956972077010945,
 763837565564780549,
 763183847194451968,
 763167063695355904,
 763103485927849985,
 762699858130116608,
 762471784394268675,
 762464539388485633,
 762316489655476224,
 762035686371364864,
 761976711479193600,
 761750502866649088,
 761745352076779520,
 761672994376806400,
 761599872357261312,
 761371037149827077,
 761334018830917632,
 761292947749015552,
 761227390836215808,
 761004547850530816,
 760893934457552897,
 760656994973933572,
 760641137271070720,
 760539183865880579,
 760521673607086080,
 760290219849637889,
 760252756032651264,
 760190180481531904,
 760153949710192640,
 759943073749200896,
 759923798737051648,
 759846353224826880,
 759793422261743616,
 759566828574212096,
 759557299618865152,
 759447681597108224,
 759446261539934208,
 759197388317847553,
 759159934323924993,
 759099523532779520,
 759047813560868866,
 758854675097526272,
 758828659922702336,
 758740312047005698,
 758474966123810816,
 758467244762497024,
 758405701903519748,
 758355060040593408,
 758099635764359168,
 758041019896193024,
 757741869644341248,
 757729163776290825,
 757725642876129280,
 757611664640446465,
 757597904299253760,
 757596066325864448,
 757400162377592832,
 757393109802180609,
 757354760399941633,
 756998049151549440,
 756939218950160384,
 756651752796094464,
 756526248105566208,
 756303284449767430,
 756288534030475264,
 756275833623502848,
 755955933503782912,
 755206590534418437,
 755110668769038337,
 754874841593970688,
 754856583969079297,
 754747087846248448,
 754482103782404096,
 754449512966619136,
 754120377874386944,
 754011816964026368,
 753655901052166144,
 753420520834629632,
 753398408988139520,
 753375668877008896,
 753298634498793472,
 753294487569522689,
 753039830821511168,
 753026973505581056,
 752932432744185856,
 752917284578922496,
 752701944171524096,
 752682090207055872,
 752660715232722944,
 752568224206688256,
 752519690950500352,
 752334515931054080,
 752309394570878976,
 752173152931807232,
 751950017322246144,

In [52]:
tweet = list_tweet_id[0]
tweet

892420643555336193

In [53]:
import tweepy

consumer_key = ''
consumer_secret = ''
access_token = ''
access_secret = ''

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth)

In [55]:
api.get_status(tweet, tweet_mode='extended').retweet_count

7744

In [56]:
api.get_status(tweet, tweet_mode='extended').favorite_count

36391

In [67]:
folder_twt_name = 'tweet_add_info'
if not os.path.exists(folder_twt_name):
    os.makedirs(folder_twt_name)

twt_add_info_list = []
twt_errors_list = {}

for twt in list_tweet_id:
    try:
        tweet_id = twt
        retweet_count = api.get_status(twt, tweet_mode='extended', wait_on_rate_limit=True, wait_on_rate_limit_notify=True).retweet_count
        favorite_count = api.get_status(twt, tweet_mode='extended', wait_on_rate_limit=True, wait_on_rate_limit_notify=True).favorite_count
        twt_add_info_list.append({'tweet_id': tweet_id,
                                  'retweet_count': retweet_count,
                                  'favorite_count': favorite_count})
    except Exception as e:
        print(str(tweet_id) + " - " + str(e))
        twt_errors_list[int(tweet_id)] = tweet_id

    twt_add_info = pd.DataFrame(twt_add_info_list, columns=['tweet_id', 'retweet_count', 'favorite_count'])

888202515573088257 - [{'code': 144, 'message': 'No status found with that ID.'}]
873697596434513921 - [{'code': 144, 'message': 'No status found with that ID.'}]
872668790621863937 - [{'code': 144, 'message': 'No status found with that ID.'}]
872261713294495745 - [{'code': 144, 'message': 'No status found with that ID.'}]
869988702071779329 - [{'code': 144, 'message': 'No status found with that ID.'}]
866816280283807744 - [{'code': 144, 'message': 'No status found with that ID.'}]
861769973181624320 - [{'code': 144, 'message': 'No status found with that ID.'}]
856602993587888130 - [{'code': 144, 'message': 'No status found with that ID.'}]
851953902622658560 - [{'code': 144, 'message': 'No status found with that ID.'}]
845459076796616705 - [{'code': 144, 'message': 'No status found with that ID.'}]
844704788403113984 - [{'code': 144, 'message': 'No status found with that ID.'}]
842892208864923648 - [{'code': 144, 'message': 'No status found with that ID.'}]
837366284874571778 - [{'code': 144, 'message': 'No status found with that ID.'}]
837012587749474308 - [{'code': 144, 'message': 'No status found with that ID.'}]
829374341691346946 - [{'code': 144, 'message': 'No status found with that ID.'}]
827228250799742977 - [{'code': 144, 'message': 'No status found with that ID.'}]
812747805718642688 - [{'code': 144, 'message': 'No status found with that ID.'}]
802247111496568832 - [{'code': 144, 'message': 'No status found with that ID.'}]

Rate limit reached. Sleeping for: 175

779123168116150273 - [{'code': 144, 'message': 'No status found with that ID.'}]
775096608509886464 - [{'code': 144, 'message': 'No status found with that ID.'}]
771004394259247104 - [{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}]
770743923962707968 - [{'code': 144, 'message': 'No status found with that ID.'}]
759566828574212096 - [{'code': 144, 'message': 'No status found with that ID.'}]
754011816964026368 - [{'code': 144, 'message': 'No status found with that ID.'}]

Rate limit reached. Sleeping for: 58
Rate limit reached. Sleeping for: 71

680055455951884288 - [{'code': 144, 'message': 'No status found with that ID.'}]

Rate limit reached. Sleeping for: 75

In [79]:
len(twt_add_info), len(list_tweet_id), len(df_img), len(df_twt)

(2331, 2356, 2075, 2356)

In [71]:
twt_add_info.head()

             tweet_id  retweet_count  favorite_count
0  892420643555336193           7744           36393
1  892177421306343426           5733           31340
2  891815181378084864           3794           23615
3  891689557279858688           7907           39689
4  891327558926688256           8530           37890

In [72]:
twt_add_info.to_csv('twt_add_info.csv', index=False)

In [75]:
twitter_archive_master = df_twt.merge(twt_add_info, how='left')
twitter_archive_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
 17  retweet_count               2331 non-null   float64
 18  favorite_count              2331 non-null   float64
dtypes: float64(6), int64(3), object(10)
memory usage: 368.1+ KB

In [77]:
twitter_archive_master = twitter_archive_master.merge(df_img, how='left')
twitter_archive_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
 17  retweet_count               2331 non-null   float64
 18  favorite_count              2331 non-null   float64
 19  jpg_url                     2075 non-null   object
 20  img_num                     2075 non-null   float64
 21  p1                          2075 non-null   object
 22  p1_conf                     2075 non-null   float64
 23  p1_dog                      2075 non-null   object
 24  p2                          2075 non-null   object
 25  p2_conf                     2075 non-null   float64
 26  p2_dog                      2075 non-null   object
 27  p3                          2075 non-null   object
 28  p3_conf                     2075 non-null   float64
 29  p3_dog                      2075 non-null   object
dtypes: float64(10), int64(3), object(17)
memory usage: 570.6+ KB

In [101]:
sum(twitter_archive_master.duplicated())

0

In [157]:
twitter_archive_master.iloc[:5, 20:30]

,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,1.0,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False
1,1.0,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2,1.0,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
3,1.0,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
4,2.0,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True

In [146]:
twitter_archive_master[twitter_archive_master['p1'].isnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,886054160059072513,NaN,NaN,2017-07-15 02:45:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Athletics: 12/10 #BATP https://t.co/WxwJmv...,8.860537e+17,19607400.0,2017-07-15 02:44:07 +0000,https://twitter.com/dog_rates/status/886053434...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,885518971528720385,NaN,NaN,2017-07-13 15:19:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I have a new hero and his name is Howard. 14/1...,NaN,NaN,NaN,https://twitter.com/4bonds2carbon/status/88551...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,884247878851493888,NaN,NaN,2017-07-10 03:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",OMG HE DIDN'T MEAN TO HE WAS JUST TRYING A LIT...,NaN,NaN,NaN,https://twitter.com/kaijohnson_19/status/88396...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2212,668587383441514497,NaN,NaN,2015-11-23 00:30:28 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",Never forget this vine. You will not stop watc...,NaN,NaN,NaN,https://vine.co/v/ea0OwvPTx9l,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
twitter_archive_master.source[0], twitter_archive_master.expanded_urls[0]

('<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'https://twitter.com/dog_rates/status/892420643555336193/photo/1')

In [92]:
twitter_archive_master.doggo.value_counts(), twitter_archive_master.floofer.value_counts()

(None     2259
 doggo      97
 Name: doggo, dtype: int64, None       2346
 floofer      10
 Name: floofer, dtype: int64)

In [95]:
twitter_archive_master.doggo.sample(15)

1539     None
1037     None
1219     None
1931     None
1460     None
1893     None
2227     None
914     doggo
1165     None
820      None
1669     None
2034     None
1101     None
1848     None
1026     None
Name: doggo, dtype: object

In [147]:
twitter_archive_master.img_num.value_counts()

1.0    1780
2.0     198
3.0      66
4.0      31
Name: img_num, dtype: int64

In [162]:
twitter_archive_master.p1.value_counts().sample(20)

cheetah                        1
redbone                        6
Irish_setter                   6
crane                          1
fiddler_crab                   1
Greater_Swiss_Mountain_dog     3
park_bench                     1
Egyptian_cat                   1
hummingbird                    1
comic_book                     3
quilt                          1
vizsla                        13
bath_towel                     7
grille                         1
Shetland_sheepdog             18
damselfly                      1
rotisserie                     1
microwave                      1
Norfolk_terrier                7
long-horned_beetle             1
Name: p1, dtype: int64

## Assess

##### Null values
- Meaningful Null values (jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog)
- Some Null values (expanded_urls, retweet_count, favorite_count) - **ok**

##### Other issues
- Merge all databases/tables - **ok**
- Retweets (retweeted_status_id is not Null) - **ok**
- Replies ('in_reply_to_status_id', 'in_reply_to_user_id') - **ok**
- 'timestamp' format (datetime) - **ok**
- 'doggo', 'floofer', 'pupper', 'puppo' formats (merge all columns into 1 column 'dog_stage') 
- 'p1_dog', 'p2_dog', 'p3_dog' formats (binary categories) - **ok**
- 'retweet_count', 'favorite_count' (int) - **ok**
- Unnecessary columns - **ok**

## Cleaning

In [439]:
twitter_clean = twitter_archive_master.copy()

##### Define
- Drop Retweets (retweeted_status_id is not Null)

##### Code

In [440]:
retweet = twitter_clean[twitter_clean['retweeted_status_id'].notnull()]['tweet_id']
retweet

19      888202515573088257
32      886054160059072513
36      885311592912609280
68      879130579576475649
73      878404777348136964
               ...
1023    746521445350707200
1043    743835915802583040
1242    711998809858043904
2259    667550904950915073
2260    667550882905632768
Name: tweet_id, Length: 181, dtype: int64

In [441]:
twitter_clean = twitter_clean[twitter_clean['retweeted_status_id'].isnull()]

##### Test

In [442]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2175 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2175 non-null   object
 4   source                      2175 non-null   object
 5   text                        2175 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               2117 non-null   object
 10  rating_numerator            2175 non-null   int64
 11  rating_denominator          2175 non-null   int64
 12  name                        2175 non-null   object
 13  doggo                       2175 non-null   object
 14  floofer                     2175 non-null   object
 15  pupper                      2175 non-null   object
 16  puppo                       2175 non-null   object
 17  retweet_count               2168 non-null   float64
 18  favorite_count              2168 non-null   float64
 19  jpg_url                     1994 non-null   object
 20  img_num                     1994 non-null   float64
 21  p1                          1994 non-null   object
 22  p1_conf                     1994 non-null   float64
 23  p1_dog                      1994 non-null   object
 24  p2                          1994 non-null   object
 25  p2_conf                     1994 non-null   float64
 26  p2_dog                      1994 non-null   object
 27  p3                          1994 non-null   object
 28  p3_conf                     1994 non-null   float64
 29  p3_dog                      1994 non-null   object
dtypes: float64(10), int64(3), object(17)
memory usage: 526.8+ KB

##### Define
- Drop replies ('in_reply_to_status_id')

##### Code

In [443]:
twitter_clean = twitter_clean[twitter_clean['in_reply_to_status_id'].isnull()]

##### Test

In [444]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2097 non-null   int64
 1   in_reply_to_status_id       0 non-null      float64
 2   in_reply_to_user_id         0 non-null      float64
 3   timestamp                   2097 non-null   object
 4   source                      2097 non-null   object
 5   text                        2097 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               2094 non-null   object
 10  rating_numerator            2097 non-null   int64
 11  rating_denominator          2097 non-null   int64
 12  name                        2097 non-null   object
 13  doggo                       2097 non-null   object
 14  floofer                     2097 non-null   object
 15  pupper                      2097 non-null   object
 16  puppo                       2097 non-null   object
 17  retweet_count               2090 non-null   float64
 18  favorite_count              2090 non-null   float64
 19  jpg_url                     1971 non-null   object
 20  img_num                     1971 non-null   float64
 21  p1                          1971 non-null   object
 22  p1_conf                     1971 non-null   float64
 23  p1_dog                      1971 non-null   object
 24  p2                          1971 non-null   object
 25  p2_conf                     1971 non-null   float64
 26  p2_dog                      1971 non-null   object
 27  p3                          1971 non-null   object
 28  p3_conf                     1971 non-null   float64
 29  p3_dog                      1971 non-null   object
dtypes: float64(10), int64(3), object(17)
memory usage: 507.9+ KB

##### Define
- Change data type of 'timestamp'

##### Code

In [445]:
twitter_clean.timestamp = pd.to_datetime(twitter_clean.timestamp)

##### Test

In [446]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2097 non-null   int64
 1   in_reply_to_status_id       0 non-null      float64
 2   in_reply_to_user_id         0 non-null      float64
 3   timestamp                   2097 non-null   datetime64[ns, UTC]
 4   source                      2097 non-null   object
 5   text                        2097 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               2094 non-null   object
 10  rating_numerator            2097 non-null   int64
 11  rating_denominator          2097 non-null   int64
 12  name                        2097 non-null   object
 13  doggo                       2097 non-null   object
 14  floofer                     2097 non-null   object
 15  pupper                      2097 non-null   object
 16  puppo                       2097 non-null   object
 17  retweet_count               2090 non-null   float64
 18  favorite_count              2090 non-null   float64
 19  jpg_url                     1971 non-null   object
 20  img_num                     1971 non-null   float64
 21  p1                          1971 non-null   object
 22  p1_conf                     1971 non-null   float64
 23  p1_dog                      1971 non-null   object
 24  p2                          1971 non-null   object
 25  p2_conf                     1971 non-null   float64
 26  p2_dog                      1971 non-null   object
 27  p3                          1971 non-null   object
 28  p3_conf                     1971 non-null   float64
 29  p3_dog                      1971 non-null   object
dtypes: datetime64[ns, UTC](1), float64(10), int64(3), object(16)
memory usage: 507.9+ KB

#### Define
- Change datatype of 'p1_dog', 'p2_dog', 'p3_dog' to category

##### Code

In [447]:
twitter_clean.p1_dog = twitter_clean.p1_dog.astype('category')
twitter_clean.p2_dog = twitter_clean.p2_dog.astype('category')
twitter_clean.p3_dog = twitter_clean.p3_dog.astype('category')

##### Test

In [448]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2097 non-null   int64
 1   in_reply_to_status_id       0 non-null      float64
 2   in_reply_to_user_id         0 non-null      float64
 3   timestamp                   2097 non-null   datetime64[ns, UTC]
 4   source                      2097 non-null   object
 5   text                        2097 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               2094 non-null   object
 10  rating_numerator            2097 non-null   int64
 11  rating_denominator          2097 non-null   int64
 12  name                        2097 non-null   object
 13  doggo                       2097 non-null   object
 14  floofer                     2097 non-null   object
 15  pupper                      2097 non-null   object
 16  puppo                       2097 non-null   object
 17  retweet_count               2090 non-null   float64
 18  favorite_count              2090 non-null   float64
 19  jpg_url                     1971 non-null   object
 20  img_num                     1971 non-null   float64
 21  p1                          1971 non-null   object
 22  p1_conf                     1971 non-null   float64
 23  p1_dog                      1971 non-null   category
 24  p2                          1971 non-null   object
 25  p2_conf                     1971 non-null   float64
 26  p2_dog                      1971 non-null   category
 27  p3                          1971 non-null   object
 28  p3_conf                     1971 non-null   float64
 29  p3_dog                      1971 non-null   category
dtypes: category(3), datetime64[ns, UTC](1), float64(10), int64(3), object(13)
memory usage: 465.1+ KB

##### Define
- Exclude Null rows of 'retweet_count'
- Change data type of 'retweet_count', 'favorite_count' to int

##### Code

In [449]:
twitter_clean.retweet_count.sort_values()

2339    11.0
2319    18.0
1237    25.0
2224    29.0
2327    32.0
        ...
296      NaN
363      NaN
750      NaN
932      NaN
1726     NaN
Name: retweet_count, Length: 2097, dtype: float64

In [450]:
twitter_clean = twitter_clean[pd.notnull(twitter_clean.retweet_count)]

In [451]:
twitter_clean.retweet_count = twitter_clean.retweet_count.astype(int)

In [452]:
twitter_clean.favorite_count = twitter_clean.favorite_count.astype(int)

##### Test

In [453]:
twitter_clean.retweet_count.sort_values()

2339       11
2319       18
1237       25
2224       29
2327       32
        ...
66      40797
413     44095
534     57068
1079    57998
1039    78255
Name: retweet_count, Length: 2090, dtype: int32

In [454]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2090 entries, 0 to 2355
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2090 non-null   int64
 1   in_reply_to_status_id       0 non-null      float64
 2   in_reply_to_user_id         0 non-null      float64
 3   timestamp                   2090 non-null   datetime64[ns, UTC]
 4   source                      2090 non-null   object
 5   text                        2090 non-null   object
 6   retweeted_status_id         0 non-null      float64
 7   retweeted_status_user_id    0 non-null      float64
 8   retweeted_status_timestamp  0 non-null      object
 9   expanded_urls               2087 non-null   object
 10  rating_numerator            2090 non-null   int64
 11  rating_denominator          2090 non-null   int64
 12  name                        2090 non-null   object
 13  doggo                       2090 non-null   object
 14  floofer                     2090 non-null   object
 15  pupper                      2090 non-null   object
 16  puppo                       2090 non-null   object
 17  retweet_count               2090 non-null   int32
 18  favorite_count              2090 non-null   int32
 19  jpg_url                     1964 non-null   object
 20  img_num                     1964 non-null   float64
 21  p1                          1964 non-null   object
 22  p1_conf                     1964 non-null   float64
 23  p1_dog                      1964 non-null   category
 24  p2                          1964 non-null   object
 25  p2_conf                     1964 non-null   float64
 26  p2_dog                      1964 non-null   category
 27  p3                          1964 non-null   object
 28  p3_conf                     1964 non-null   float64
 29  p3_dog                      1964 non-null   category
dtypes: category(3), datetime64[ns, UTC](1), float64(8), int32(2), int64(3), object(13)
memory usage: 447.3+ KB

##### Define
- Drop unnecessary columns

##### Code

In [455]:
twitter_clean = twitter_clean.drop(['in_reply_to_status_id', 
                                    'in_reply_to_user_id', 
                                    'retweeted_status_id', 
                                    'retweeted_status_user_id', 
                                    'retweeted_status_timestamp'], axis=1)

##### Test

In [456]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2090 entries, 0 to 2355
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2090 non-null   int64
 1   timestamp           2090 non-null   datetime64[ns, UTC]
 2   source              2090 non-null   object
 3   text                2090 non-null   object
 4   expanded_urls       2087 non-null   object
 5   rating_numerator    2090 non-null   int64
 6   rating_denominator  2090 non-null   int64
 7   name                2090 non-null   object
 8   doggo               2090 non-null   object
 9   floofer             2090 non-null   object
 10  pupper              2090 non-null   object
 11  puppo               2090 non-null   object
 12  retweet_count       2090 non-null   int32
 13  favorite_count      2090 non-null   int32
 14  jpg_url             1964 non-null   object
 15  img_num             1964 non-null   float64
 16  p1                  1964 non-null   object
 17  p1_conf             1964 non-null   float64
 18  p1_dog              1964 non-null   category
 19  p2                  1964 non-null   object
 20  p2_conf             1964 non-null   float64
 21  p2_dog              1964 non-null   category
 22  p3                  1964 non-null   object
 23  p3_conf             1964 non-null   float64
 24  p3_dog              1964 non-null   category
dtypes: category(3), datetime64[ns, UTC](1), float64(4), int32(2), int64(3), object(12)
memory usage: 365.6+ KB

##### Define
- Merge all columns ('doggo', 'floofer', 'pupper', 'puppo') into 1 column ('dog_stage')

##### Code

In [463]:
twitter_clean.iloc[:3, 15:]

,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,dog_stage
0,1.0,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False,NaN
1,1.0,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True,NaN
2,1.0,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True,NaN

In [458]:
twitter_clean.doggo = twitter_clean.doggo.replace('None', np.nan)
twitter_clean.floofer = twitter_clean.floofer.replace('None', np.nan)
twitter_clean.pupper = twitter_clean.pupper.replace('None', np.nan)
twitter_clean.puppo = twitter_clean.puppo.replace('None', np.nan)

In [478]:
twitter_clean['dog_stage'] = str(twitter_clean.doggo + twitter_clean.floofer + twitter_clean.pupper + twitter_clean.puppo)

In [483]:
twitter_clean.groupby('dog_stage').count()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,...,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
dog_stage,,,,,,,,,,,,,,,,,,,,,
"0 NaN\n1 NaN\n2 NaN\n3 NaN\n4 NaN\n ... \n2351 NaN\n2352 NaN\n2353 NaN\n2354 NaN\n2355 NaN\nLength: 2090, dtype: object",2090,2090,2090,2090,2087,2090,2090,2090,82,10,...,1964,1964,1964,1964,1964,1964,1964,1964,1964,1964

In [484]:
twitter_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,...,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,dog_stage
0,892420643555336193,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,NaN,NaN,...,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False,0 NaN\n1 NaN\n2 NaN\n3 ...
1,892177421306343426,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,NaN,NaN,...,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True,0 NaN\n1 NaN\n2 NaN\n3 ...
2,891815181378084864,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,NaN,NaN,...,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True,0 NaN\n1 NaN\n2 NaN\n3 ...
3,891689557279858688,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,NaN,NaN,...,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False,0 NaN\n1 NaN\n2 NaN\n3 ...
4,891327558926688256,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,NaN,NaN,...,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,0 NaN\n1 NaN\n2 NaN\n3 ...

In [479]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2090 entries, 0 to 2355
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2090 non-null   int64
 1   timestamp           2090 non-null   datetime64[ns, UTC]
 2   source              2090 non-null   object
 3   text                2090 non-null   object
 4   expanded_urls       2087 non-null   object
 5   rating_numerator    2090 non-null   int64
 6   rating_denominator  2090 non-null   int64
 7   name                2090 non-null   object
 8   doggo               82 non-null     object
 9   floofer             10 non-null     object
 10  pupper              230 non-null    object
 11  puppo               24 non-null     object
 12  retweet_count       2090 non-null   int32
 13  favorite_count      2090 non-null   int32
 14  jpg_url             1964 non-null   object
 15  img_num             1964 non-null   float64
 16  p1                  1964 non-null   object
 17  p1_conf             1964 non-null   float64
 18  p1_dog              1964 non-null   category
 19  p2                  1964 non-null   object
 20  p2_conf             1964 non-null   float64
 21  p2_dog              1964 non-null   category
 22  p3                  1964 non-null   object
 23  p3_conf             1964 non-null   float64
 24  p3_dog              1964 non-null   category
 25  dog_stage           2090 non-null   object
dtypes: category(3), datetime64[ns, UTC](1), float64(4), int32(2), int64(3), object(13)
memory usage: 462.0+ KB

In [436]:
twitter_clean = pd.melt(twitter_clean, id_vars=['tweet_id', 
                                                'timestamp', 
                                                'source', 
                                                'text', 
                                                'expanded_urls', 
                                                'rating_numerator', 
                                                'rating_denominator', 
                                                'name', 
                                                'retweet_count', 
                                                'favorite_count', 
                                                'jpg_url', 
                                                'img_num', 
                                                'p1', 
                                                'p1_conf', 
                                                'p1_dog',
                                                'p2', 
                                                'p2_conf', 
                                                'p2_dog',
                                                'p3', 
                                                'p3_conf', 
                                                'p3_dog'], var_name=None, value_name='dog_stage')

##### Test

In [437]:
twitter_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,retweet_count,favorite_count,...,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,variable,dog_stage
0,892420643555336193,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,7744,36393,...,0.097049,False,bagel,0.085851,False,banana,0.076110,False,doggo,NaN
1,892177421306343426,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,5733,31340,...,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True,doggo,NaN
2,891815181378084864,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,3794,23615,...,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True,doggo,NaN
3,891689557279858688,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,7907,39689,...,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False,doggo,NaN
4,891327558926688256,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,8530,37890,...,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,doggo,NaN

In [438]:
twitter_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8360 entries, 0 to 8359
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            8360 non-null   int64
 1   timestamp           8360 non-null   datetime64[ns, UTC]
 2   source              8360 non-null   object
 3   text                8360 non-null   object
 4   expanded_urls       8348 non-null   object
 5   rating_numerator    8360 non-null   int64
 6   rating_denominator  8360 non-null   int64
 7   name                8360 non-null   object
 8   retweet_count       8360 non-null   int32
 9   favorite_count      8360 non-null   int32
 10  jpg_url             7856 non-null   object
 11  img_num             7856 non-null   float64
 12  p1                  7856 non-null   object
 13  p1_conf             7856 non-null   float64
 14  p1_dog              7856 non-null   category
 15  p2                  7856 non-null   object
 16  p2_conf             7856 non-null   float64
 17  p2_dog              7856 non-null   category
 18  p3                  7856 non-null   object
 19  p3_conf             7856 non-null   float64
 20  p3_dog              7856 non-null   category
 21  variable            8360 non-null   object
 22  dog_stage           346 non-null    object
dtypes: category(3), datetime64[ns, UTC](1), float64(4), int32(2), int64(3), object(10)
memory usage: 1.2+ MB